

.fact-in-list {
  font-family: 'Lora', serif;
}

h2 {
  font-family: 'Lora', serif;
}

.facts-title {
  color: black;
  font-family: 'Lobster', cursive;
  font-size: 36px;
}

.mail-link {
  color: black;
}